.text-field {
  margin: 24px 0;
}

.text-field label {
  display: block;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 8px;
}

.text-field input {
  background-color: #fff;
  border: none;
  font-size: 24px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, .06);
  padding: 24px;
  width: 100%;
}
